rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regra totalmente permissiva para desenvolvimento.
    // Permite que qualquer usuário leia e escreva em qualquer documento.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
